.large-hero {
  position: relative;
&__text {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   width: 100%;
   text-align: center;
  }
&__title {
    color: darkorange;
    font-size: 1.5rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    @mixin 4Small {
      font-size: 2.2rem;
      max-width: 50rem;
    }

    @mixin 4Medium {
      font-size: 3.5rem;
      max-width: 60rem;
    }
    @mixin 4Large {
      font-size: 5rem;
      max-width: 85rem;
    }

  }
&__subtitle {
    color: $mnorange;
    font-size: 1.3rem;
    margin: 0 0 3rem 0;

    @mixin 4Small {
      font-size: 3.3rem;
    }
  }

}
