@define-mixin 4Small {
  @media (min-width: 320px) {
    @mixin-content;
  }
}

@define-mixin 4Medium {
  @media (min-width: 750px) {
    @mixin-content;
  }
}

@define-mixin 4Large {
  @media (min-width: 1100px) {
    @mixin-content;
  }
}
@define-mixin clearfix {
  &::after {
    content:"";
    clear: both;
    display: table;
  }
}
