.row {
  @mixin clearfix;
padding-left: 2px;
padding-right: 2px;
  &--gutters {
    margin-right:-50px;
    margin-left: -5px;
  }
  &--gutters > div {
      padding-right: 45px;
      padding-left: 5px;
  }
  @mixin 4Medium {
  &__medium-3 {
      float: left;
      width: 25%;
  }

  &__medium-3--larger {
    width: 30%;
  }

  &__medium-9 {
      float: left;
      width: 75%;
  }
  &__medium-9--smaller {
    width: 70%;
  }
}
}
