.wrapper {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--image {
    margin-bottom: 5px;

    @mixin 4Medium {
      margin-bottom: 0px;
    }
  }

  &--medium {
    max-width: 930px;
  }
  &--margin {
    margin-bottom: .1rem;
  }
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &--bgc {
    background-color: $dgrey;
    color: #000;
  }
}
